{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'main/css/reset.css' %}"/>
        <link rel="stylesheet" href="{% static 'main/css/main.css' %}"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100, 300, 400|Roboto+Mono">
        <title>The ultimate decoder/decrypter for all your needs</title>
        <script src="{% static 'main/js/jquery-2.2.1.min.js' %}"></script>
        <script src="{% static 'main/js/search.js' %}"></script>
        {% block extrajs %}
        {% endblock %}
    </head>
    <body>
        <header class="header container group">
            <a href="{% url 'main:common' %}"><h1 class="logo">Decode</h1></a>
        </header>
        <div class="wrapper">
            <section class="content-area">
            {% block content %}
            {% endblock %}
            </section>
            <aside class="sidebar">
                <input id="search" type="text" placeholder="Search" oninput="search(this.value)">
                <ul id="methods">
                    <li><a href="{% url 'main:bases' %}">Bases</a></li>
                    <li><a href="{% url 'main:keyboard' %}">Keyboard layouts</a></li>
                    <li><a href="{% url 'main:morse' %}">Morse Translator</a></li>
                    <li><a href="{% url 'main:frequency' %}">Letter frequency</a></li>
                    <li><a href="{% url 'main:common' %}">Text Encryptions
                            <ul>
                                <li>- Binary</li>
                                <li>- Base64</li>
                                <li>- Hex</li>
                                <li>- LetterNumber</li>
                                <li>- Ascii</li>
                                <li>- Rot13</li>
                            </ul>
                        </a>
                    </li>
                    <li><a href="{% url 'main:translate' %}">Text Transformers
                            <ul>
                                <li>- Every nth char</li>
                                <li>- Ceasar</li>
                                <li>- Reverse</li>
                            </ul>
                        </a>
                    </li>
                    <li><a href="{% url 'main:trump' %}">Trump Cipher</a></li>
                    <li><a href="{% url 'main:wordmatrix' %}">Word Matrix</a></li>
                    <li><a href="{% url 'main:wordlist' %}">Word Match</a></li>
                </ul>
            </aside>
        </div>
    </body>
</html>
