{% extends "main/base.html" %}
{% load static %}
{% block extrajs %}
    <script src="{% static 'main/js/clipboard.min.js' %}"></script>
    <script src="{% static 'main/js/keyboard.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="flex-container small-force-one-column">
        <article class="base">
            <h3>Qwerty (US)</h3>
            <textarea class="qwerty big-height" id="qwerty"></textarea>
            <br>
            <button class="btn copy" data-clipboard-target="#qwerty" type="button">Copy<span class="big-screen"> to clipboard</span></button>
        </article>
        <article class="base">
            <h3>Dvorak</h3>
            <textarea class="dvorak big-height" id="dvorak"></textarea>
            <br>
            <button class="btn copy" data-clipboard-target="#dvorak" type="button">Copy<span class="big-screen"> to clipboard</span></button>
        </article>
        <article class="base">
            <h3>Colemak</h3>
            <textarea class="colemak big-height" id="colemak"></textarea>
            <br>
            <button class="btn copy" data-clipboard-target="#colemak" id="colemak" type="button">Copy<span class="big-screen"> to clipboard</span></button>
        </article>
    </div>
{% endblock %}
