{% extends "main/base.html" %}
{% load static %}
{% block extracss %}
    <link rel="stylesheet" href="{% static 'main/css/wordmatrix.css' %}"/>
{% endblock %}
{% block extrajs %}
    <script type="text/javascript">
        var words = new Set({{ words|safe }});
    </script>
    <script src="{% static 'main/js/wordmatrix.js' %}"></script>
{% endblock %}
{% block content %}
    <article class="base">
        <h3>Word matrix</h3>
        <div class="flex-row flex-dual">
            Minimum word length: <input type="number" style="width: 50px;" id="min-word-length", value="3">
        </div>
        <textarea class="text" id="text"></textarea>
        <br>
    </article>
    <article class="base">
        <div id="gridinfo" class="hide flex-row">
            <div class="flex-column">
                <h3>Parsed grid</h3>
                <div class="flex-row flex-dual">
                    Highlight letters: <input type="text" style="width: 50px;" id="highlighter", value="">
                </div>
                <div id="grid" class="grid"></div>
            </div>
            <div class="flex-column">
                <h3>Found words</h3>
                <p>Click to lock onto grid</p>
                <ol id="found-words"></ol>
            </div>
        </div>
    </article>
{% endblock %}
